# Compiled executables
*.exe
*.out
*.app

# Object files
*.o
*.obj

# Static and dynamic libraries
*.a
*.lib
*.so
*.dll
*.dylib

# Debug files
*.pdb

# Visual Studio
.vs/
*.vcxproj.user

# VS Code
.vscode/

# CMake
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Logs
*.log